body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514E;
}
h1 {
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; 
    color: #66BFBF;
    line-height: 2;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    color: #66BFBF;
    font-weight: normal;
    
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p {
    line-height: 2;
}
.top-container{
    
    background-color: #FFF4D2;
    padding: 20px;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.profile {
    
    display: inline-block;
    width: 40%;
    padding-top: 100px;
}
.nari {
    width: 200px;
    height: 200px;
   
    
}
.code-ing {
    float: left;
    margin-right: 40px;
    
}
.sweet-ing {
    float: right;
    width: 230px;
    margin-left: 40px;
    
}
span {
    text-decoration: underline;
}
a {
    color: #05767a;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
}
a:hover {
    color: #000000;
}



.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
     
}
hr {
    border-style: none;
    border-style: dotted none none none;
    border-color: rgb(194, 193, 193);
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}
.bottom-container {
    background-color: #FFF4D2;
   padding: 60px 0 20px; 
   
}

.btn {
    
    background: #ffd874;
    background-image: -webkit-linear-gradient(top, #faba19, #fad20d);
    background-image: -moz-linear-gradient(top, #face5f, #fad20d);
    background-image: -ms-linear-gradient(top, #d49d13, #fad20d);
    background-image: -o-linear-gradient(top, #e9b124, #fad20d);
    background-image: linear-gradient(to bottom, #d49d13, #fad20d);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #e7a216;
    background-image: -webkit-linear-gradient(top, #db960b, #d6791c);
    background-image: -moz-linear-gradient(top, #db960b, #d6791c);
    background-image: -ms-linear-gradient(top, #db960b, #d6791c);
    background-image: -o-linear-gradient(top, #db960b, #d6791c);
    background-image: linear-gradient(to bottom, #db960b, #d6791c);
    text-decoration: none;
    
  }
    
    
.contact-me {
    
   margin: 40px auto 60px;
   line-height: 2;
}
.copyright {
    color: #12a2a7;
    font-size: 0.75rem;
    padding: 20px 0 0;
    border: none;
}      